.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{

  text-shadow: 2px 2px #000000;
}
.partial-app{
  background-image: url('https://cdn.wallpapersafari.com/80/24/OAxbcW.jpg');
}

.App-header {
  font-family: serif;
  background-color:#dec79b;
  
  display: flex;
  flex-direction: left;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f7f6dd;
}
body{
  background-image: url('https://cdn.wallpapersafari.com/80/24/OAxbcW.jpg');
}

.App-link {
  color: #61dafb;
}


